* {
    margin: 0;
    padding: 0;
}

.mainmail {
    height: 100vh;
    width: 100%;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainmail img{
    height: 15%;
    margin-top: -30px;
}
.emailtext {
    height: 75%;
    width: 40%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #FDFDF7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.wrapcontain{
    display: flex;
    height: 50%;
    /* background-color: rosybrown; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: solid 1px;
    width: 90%;
    margin-top: 40px;
   
}
.wrapcontain img {
    height: 30%;
    margin-top: -30%;
    /* background-color: rebeccapurple; */
}

.emailwrite {
    font-size: 40px;
    margin-top: 20px;
    font-size: 18px;
}

.emailmsg {
    height: 20%;
    margin-top: 10px;
    /* background-color: plum; */
    width: 90%;
    gap: 30px;
    font-size: 13px;
    font-weight: 600;
}

.emailline {
    margin-bottom: -70px;
    margin-top: 20px;
    height: 1px;
    width: 90%;
    background-color: black;
}
.resend{
    /* background-color: red; */
    margin-top: 20px;
    gap: 30px;
    font-size: 13px;
    font-weight: 600;
}