.plancategory-container{
    width:70%;
    height:60%;
    display: flex;
    justify-content: center;
    gap:5px;
}

.plancategory-container-main{
    width:70%;
    height:100%;
    background-color: #fdfdf7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plancategory-exit{
    width:4%;
    height:10%;
    background-color: #FF595E;
    color:#fdfdf7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    transform: scale(1);
}

.plancategory-exit:hover{
    width:4%;
    height:10%;
    background-color: #FF595E;
    color:#fdfdf7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    transform: scale(1.1);
}



.plan-cat-title{
    margin-top: 50px;
    margin-bottom: 50px;
}


.plan-cat-select{
   width:30%;
   height:15%;
   cursor: pointer;
    color:#fdfdf7;
    background-color: #FF595E;
    border-radius: 3px;
    border: 1px;
    font-weight: 600;
    
   
}

.plan-cat-option{
    cursor: pointer;
   
}
