* {
    margin: 0;
    padding: 0;
}

.forgotbodyPage {
    height: 100vh;
    width: 100vw;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.forgotpage {
    height: 90%;
    width: 30%;
    background-color: #FDFDF7;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    /* flex-direction: column; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.forgotext {
    /* font-size: 20px; */
    width: 40%;
    height: 30%;
    font-weight: 500;
    /* background-color: blue; */
    /* font-weight: 400%; */
}

.divtext {
    padding: 5%;
    margin-top: 80px;
    height: 10%;
    /* width: 70%; */
    font-size: 20px;
    /* background-color: red; */
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: first baseline;
}

.forgotpassinput {
    height: 30%;
    /* width: 90%; */
    /* background-color: orange; */
    /* display: flex; */
    padding: 5%;
    margin-top: 40px;
}
.emailinput:hover {

    /* border: 1px solid #FF595E; */
    background-color: #f8f8f8;

}
.entertext {
    height: 30%;
    width: 55%;
    font-size: 17px;
    margin-bottom: 20px;
    /* background-color: purple; */
}

.emailinput {
    height: 48px;
    width: 300px;
    display: flex;
    align-items: center;
    /* margin-bottom: -20px; */
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    background-color: white;
    border: 0.1px solid;
    border-radius: 9px;
}
.nextbutton {
    height: 48px;
    width: 309px;
    background-color: #d66468;
    border: none;
    cursor: pointer;
    font-size: 19px;
    border-radius: 5px;
    color: #FDFDF7;
    margin-left: 20px
}

.nextbutton:hover {
    border: 1px solid #FF595E;
    background-color: #FF595E;
    transform: scale(1.1);

}
.imageforgot {
    height: 90%;
    width: 30%;
    object-fit: contain;
    background-image: url(../../assets/forgot.png);
    background-color: #FDFDF7;
    background-repeat: no-repeat;
    display: flex;
    /* margin-left: 10px; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 884px) {
    .imageforgot{
        display: none;
    }
    .forgotpage{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .forgotext{
        width: 100%;
        /* background-color: yellow; */
        height: 90%;
        margin-top: -200px;
        font-size: 50px;
    }
    .forgotpassinput{
        margin-top: -100px;
        /* height: 20%; */
        /* background-color: yellow; */
    }
    .entertext{
        font-size: 30px;
        margin-bottom: 30px;
        width: 100%;
        /* background-color: red; */
        text-align: center;
    }
    .emailinput{
        height: 40%;
        width: 100%;
        font-size: 30px;
    }
    .nextbutton{
        height: 80px;
        width: 40%;
        font-size: 40px;
    }
}
@media screen and (max-width: 428px) {    

    .imageforgot{
        display: none;
    }
    .emailinput{
        height: 30%;
        width: 100%;
        font-size: 20px;
    }
    .forgotpage{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .forgotext{
        width: 100%;
        /* background-color: yellow; */
        height: 90%;
        margin-top: -200px;
        font-size: 20px;
    }
    .forgotpassinput{
        margin-top: -100px;
    }
    .entertext{
        font-size: 20px;
        width: 100%;
        /* background-color: red; */
        text-align: center;
    }
  .nextbutton{
    margin-top: -20px;
    font-size: 20px;
    height: 60px;
    width: 40%;
    margin-left: 10px;
    border-radius: 10px;
  }
}