

.header {
    width: 100%;
    height: 10vh;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-around   ;
}

.logo {
    width: 10%;
    height: 100%;
    /* background-color: #dd3f3f; */
    /* padding-left: 30px; */
}
.logo > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.headertext {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* font-family: ; */
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headertext > p{
    font-size: 10px;
}

.home {
    /* color: #FF595E; */
    cursor: pointer;
}
.home:hover{
    color:  #ff595e;
}
.started {
    width: 10%;
    height: 100%;
    /* background-color:  yellow ; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.get{
    width: 120px;
    height: 40px;
    background-color: #FF595E;
    color: #f5f5f5;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 7px;
}