.features {
    width: 100%;
    height: 100vh;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.unique {
    width: 100vw;
    height: 10vh;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.featuring {
    width: 90vw;
    height: 80vh;
    /* background-color: rgb(102, 24, 24); */
    display: flex;
    gap: 13%;
    align-items: center;
    justify-content: center;
}

.firstcard {
    width: 20vw;
    height: 58%;
    background-color: #fdfdfd;
    /* border: 5px solid #f5f5f5; */
    /* border-radius: 5px; */
    box-shadow: 0px 0px 10px lightgray;
}

.secondcard {
    width: 23vw;
    height: 62%;
    background-color: #fdfdfd;
    /* border: 5px solid #f5f5f5; */
    /* border-radius: 5px; */
    box-shadow: 0px 0px 10px lightgray;

}

.thirdcard {
    width: 20vw;
    height: 58%;
    background-color: #fdfdfd;
    /* border: 5px solid #f5f5f5; */
    /* border-radius: 5px; */
    box-shadow: 0px 0px 10px lightgray;
}

.top {
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.round {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #ff595e;
    justify-content: center;
    align-items: center;
}

.set{
    /* background-color: pink; */
    width: 15px;
    margin: 5px;
}

.bottom {
    width: 100%;
    height: 70%;
    /* background-color:  lightblue; *
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plantrack {
    display: flex;
    /* text-align: end; */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.textHolder {
    display: flex;
    flex-direction: column;
}

.featuretext {
    height: 15%;
    background-color: #EED8D9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}

.pulsetrack {
    text-align: center;
    /* font-size: 15px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}