/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 */

.signup-container{
    width: 100vw;
    height:100vh;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
   }


.signup-form{
    width: 60%;
    height:90%;
    margin-top: 30px;
    display: flex;
    background-color: #fdfdf7;
}


.left-sec{
    width:55%;
    height:100%;
    background-color: white;
    position: relative;
}


.signup-inside-div{
    width: 100%;
    height:100%;
    position: relative;
}

.signup-wallpaper{
    width:100%;
    height:100%;
    object-fit: cover;
   
}

.signup-middle-div{
     width:100%;
    height:100%;
    background-color: #282828;
    position: absolute;
    top:0;
    opacity: 60%;
}

.signup-upper-div{
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-logo-div{
    width:40%;
    height:25%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
     margin-bottom: 10%;
}

.signup-logo{
    width:80%;
    height: 100%;
    object-fit: contain;
}



.signup-nav-img{
    width:50%;
    height:60%;
    object-fit: contain;
    color:#fdfdf7;
   
}

.signup-navigation:hover{
 transform: scaleX(1.1);
}



.signup-headertext{
    color: #fdfdf7;
    font-size: 12px;
    font-weight: 600;
    margin-top: 13%;
    margin-bottom: 5%;
    width:70%;
    text-align: center;
    font-family: Roboto, sans serif;
}

.signup-subtext{
     color: #fdfdf7;
    font-size: 10px;
    font-weight: 600;
     margin-bottom: 5%;
     font-family: Roboto, sans serif;
}

.signup-subtext-span{
     color: blue;
    font-size: 10px;
    font-weight: 600;
     margin-bottom: 5%;
     font-family: Roboto, sans serif;
     cursor: pointer;
}

.signup-goback{
    width:70px;
    height:30px;
    background-color: #FF595E ;
    border:1px;
    border-radius: 2px;
    color:#fdfdf7;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
     transform: scale(1);
}


.signup-goback-true{
       width:70px;
    height:30px;
    background-color: whitesmoke ;
    border:1px;
    border-radius: 2px;
    color:#FF595E;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
   
}

.signup-goback:hover{
       width:70px;
    height:30px;
    background-color:#FF595E;
    border:1px;
    border-radius: 2px;
    color:#fdfdf7;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    transform: scale(1.1);
}

.signup-subtext-span:hover{
    color:purple
}

.right-sec{
    width:45%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}
.signup-logo-div2{
    width:40%;
    height:20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    display: none;
}
.signup-logo2{
    width:80%;
    height: 100%;
    object-fit: contain;
}

.profile-div{
    width:17%;
    height:10%;
    border:3px solid black;
     display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 3%;
    cursor: pointer;
}

.face{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-photo {
    width:100%;
    height:70%;
    object-fit: contain;
    
}

.real-photo{
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
}

.input-file{
    display: none;
}

.signup-input-label-div{
    width:80%;
    height: 65px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 3%;
    justify-content: space-between;

}


.head-signup{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
   font-family: Roboto, sans serif;
}

.signup-input{
    width: 100%;
    height:48%;
    padding-left: 5px;
    border: 1px  solid gray;
    border-radius: 3px;
    font-size: 11px;

}

.signup-label{
    width:100%;
    height:25%;
    font-size: 12px;
    font-weight: 600;
     font-family: Roboto, sans serif;
    
}

.signup-btn{
    width:80%;
    height:38px;
    margin-bottom: 10px;
    background-color: #FF595E;
    border: 1px;
    color: #fdfdf7;
    font-weight: 600;
    font-size: 14px;
     margin-left: 1px;
     border-radius: 3px;
     cursor: pointer;
     transform: scale(1);
}
.signup-btn-true{
     width:80%;
    height:38px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 1px;
    color: #FF595E;
    font-weight: 600;
    font-size: 14px;
     margin-left: 8px;
     border-radius: 3px;
     cursor: pointer;
     transform: scale(1);
}
.signup-error-message{
    font-size: 9px;
    font-family: Roboto, sans-serif;
    color:red;
}

.signup-btn:hover{
 transform: scale(1.1);

}

.signup-subtext-down{
    font-size: 11px;
    font-family: Roboto, sans sans-serif;
    font-weight: 600;
    display: none;
}




@media screen and (max-width:768px) {
    .signup-form{
        width:80%
    }

    .head-signup{
        margin-top: 20px;
    }

    .signup-btn{
        margin-top: 10px;
    }

    .signup-input-label-div{
        height:60px
    }

    .signup-headertext{
        width:85%;
        font-size: 16px;
        margin-top: 60px;
    }


    .signup-label{
        font-size: 15px;
    }

    .signup-subtext{
        font-size: 12px;
    }
    .signup-navigation{
        height:25px;
    }

    .signup-btn{
        margin-left: 5px;
    }
}


@media screen and (max-width:425px) {
    

    .signup-subtext-down{
        display: flex;
    }

    .signup-subtext-span-down{
    color:blue;
    cursor: pointer;
    margin-left:3px ;
}

   
    .left-sec{
        display: none;
    }

    .signup-logo-div2{
        display: flex;
        height: 50px
    }

    .signup-logo2{
    width:80%;
    height: 100%;
    object-fit: contain;
}

.right-sec{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.head-signup{
    font-size: 20px;
    margin-top: 10px;
}

.signup-input-label-div{
    width:60%;
    height: 50px;
  

}

.signup-btn{
    width:60%;
    height:35px;
    margin-left: 0 auto;
    font-size: 15px;
    margin-left: 3px;
    /* margin-top: 20px;
    background-color: #FF595E;
    border: 1px;
    color: #fdfdf7;
    font-weight: 600;
    font-size: 17px; */
}

.signup-label{
    font-size: 13px;
}


}