.account-container{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
       
}

.account-page{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    margin-top: 40px;
    font-size: 40px;
}
.account-container-data{
      width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 10px;
}
.account-data{
    margin-top:30px;
}

.data-title-div{
    width:100%;
    height:30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}