* {
    padding: 0;
    margin: 0;

}

.fixwrap {
    width: 100%;
    height: 5%;
    background-color: #f9f7f7;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 600;
    font-size: 20px;
    color: rgb(28, 25, 25);

}

.detail {
    width: 99%;
    /* background-color: yellow; */
    background-color: #f9f7f7;
    height: 5%;
    margin-top: 15px;
    color: #FF595E;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutdiv {
    width: 100%;
    height: 379px;

    display: flex;
    background-color: #f9f7f7;

}

.aboutleft {
    width: 45%;
    height: 100%;
    /* background-color: rgb(0, 255, 162); */
    padding: 10px;
}

.mainwriteup {
    width: 100%;
    height: 20%;
    /* background-color: greenyellow; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: 65; */
    font-size: 17PX;
}

.middlewriteup {
    width: 100%;
    height: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 13px;
    /* background-color: olive; */
}

.secondmiddlewriteup {
    width: 100%;
    height: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 13px;
    /* background-color: orchid; */
    margin-top: 20px;

}

.aboutright {
    width: 50%;
    height: 60%;
    /* background-color: yellow; */
    /* gap: 40%; */

}

.upimage {
    /* background-color: #fff; */
    /* height: 50%; */
    display: flex;
    justify-content: center;

}

.downimage {
    height: 70%;
    /* width: 60%; */
    margin-top: 5px;
    display: flex;
    /* justify-content: center; */
}