.midall {
    width: 40%;
    height: 55%;
    background-color: #fdfdfd;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 50;
    left: 50;
    border-radius: 10px;
}

.include {
    width: 100%;
    height: 45%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 55px;
    flex-direction: column;
}

.planadd {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    display: flex;
    justify-content: space-evenly;

}

.click {
    width: 50%;
    height: 30px;
    background-color: #fdfdfd;
    display: flex;
    border: 1px solid #3F88C5;
    justify-content: center;
    align-items: center;
    color: #3F88C5;
}

.clickon {
    width: 55%;
    height: 35px;
    background-color: #FF595E;
    display: flex;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    /* border: 1px soli #3F88C5 ; */
    justify-content: center;
    align-items: center;
    color: #FDFDFD;
    border: none;
}

.clickon:hover {
    background-color: #e93b41;
    transform: scale(1.1);
}

.cancelling {
    width: 100%;
    height: 30%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 30px;
}

.cancel {
    width: 7%;
    height: 65%;
    background-color: rgb(254, 48, 48);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    font-size: 13px;
    /* background-color: red; */
    font-weight: 100;
    padding-top: 3px;
    padding-left: 15px;
}

.mid {
    height: 30%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 5px; */
    margin-top: 30px;
}

@media screen and (max-width:500px) {
    .midall {
        display: flex;
        width: 60%;
        height: 40%;
        /* background-color: lightgreen; */
    }
}

@media screen and (max-width:500px) {
    .include {
        /* background-color: tan; */
        padding-left: 10px;
    }
}

@media screen and (max-width:500px) {
    .user {
        display: flex;
        align-items: start;
        justify-content: start;
        /* background-color: #fff;  */
    }
}

@media screen and (max-width:500px) {
    .cancel {
        background-color: rgb(254, 48, 48);
        width: 10%;
        height: 70%;

    }
}

@media screen and (max-width:500px) {
    .click {
        width: 50%;
        height: 10%;
        /* background-color: ; */

    }
}

@media screen and (max-width:500px) {
    .clickon {
        width: 55%;
        height: 10%;
    }
}