body{
    background-color: #fdfdf7;
}

.batch-upload-container{
    width:100%;
    min-height:auto;
    background-color: #fdfdf7;
    display: flex;
    flex-direction: column;
    align-items: center;
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
}

.batch-upload-logo-div{
    width:40%;
    height:70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.batch-upload-logo{
    width:80%;
    height: 100%;
    object-fit: contain;
}






.batch-exit{
    width:3%;
    height:35px;
    border-radius: 100%;
    background-color:rgb(195, 191, 195);
    border:1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-left: 400px;
    color:#fdfdf7;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: Roboto, sans-serif;
}

.batch-exit:hover{
 background-color: #fdfdf7;
 border:2px solid red;
 cursor: pointer;
 color:#FF595E;
}

.batch-upload-form{
    width:50%;
    height:fit-content;
    background-color: #fdfdf7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.head-batch-upload{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto, sans serif;
}
/* .batch-upload-form{
    margin-top: 30px;
    display: flex;
    width: 60%;
    height:auto;
    background-color: #fdfdf7;
} */

.excel{
    width:40%;
    height:auto;
   
}

.each-user{
 width:100%;
 height:70px;
 margin-top: 60px;

}

.batch-upload-input-label-div{
    width:100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
 
}



.batch-upload-input{
    width: 100%;
    height:50%;
    padding-left: 5px;
    font-size: 13px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 11px;
}

.batch-upload-label{
    width:100%;
    height:25%;
    font-size: 13px;
    font-weight: 600;
    font-family: Roboto, sans serif;
    
}





.btns-Div{
    width:40%;
    height:30px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap:10px;
}

.batch-upload-adduser{
    width:25%;
    background-color: #FF595E;
    border:1px;
    color:white;
    font-size: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
}

.batch-upload-submit{
    width:25%;
    background-color: #FF595E;
    border:1px;
    color:white;
    font-size: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
}


.batch-upload-adduser:hover{
    background-color: #fdfdf7;
    color:blue;
    cursor: pointer;
     border: 1px solid blue
}

.batch-upload-submit:hover{
     background-color: #fdfdf7;
    color:blue;
    cursor: pointer;
    border: 1px solid blue
}

@media screen and (max-width:768px){
    .batch-exit{
        width:5%
    }
    .btns-Div{
        width:60%;
    }

    .batch-upload-adduser{
        font-size: 12px;
    }
    .batch-upload-submit{
        font-size: 12px;
    }


}

@media screen and (max-width:425px) {
    .batch-exit{
        width:8%;
        margin-left: 200px;
    }

    .batch-exit:hover{
        color:#FF595E
    }

    .excel{
        width:80%;
       
    }

    .btns-Div{
        width:100%;
    }
    .batch-upload-adduser{
        width:25%;
        font-size: 11px;
    }
    .batch-upload-submit{
        width:25%;
        font-size: 11px;
    }
}

@media screen and (max-width:375px) {
     .batch-exit{
        width:9%;
        margin-left: 200px;
    }

      .batch-upload-adduser{
        width:25%;
        font-size: 10px;
    }
    .batch-upload-submit{
        width:25%;
        font-size: 10px;
    }

}