
.reset-form-container{
    width:100vw;
    height:100vh;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


}



.reset-form-logo-div{
    width:15%;
    height: 70px;
    margin-top: 10px;
     display: flex;
     align-self: center;
     justify-content: center;
}


.reset-form-logo{
    width:100%;
    height:100%;
    object-fit: contain;
}


.reset-form-navigation{
    width:5%;
    height:30px;
    background-color: #FF595E;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-right: 800px;
     border-radius: 5px;
     margin-bottom: 3px;
     transform: scale(1);
     cursor: pointer;

}

.reset-form-navigation:hover{
    transform: scale(1.1);
}

.reset-form-nav-img{
    width:50%;
    height:50%;
    object-fit: contain;
    color:#fdfdf7;
   
}

.reset-form{
    width: 50%;
    height:350px;
    background-color: #fdfdf7;
    margin-top: 10px;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px 5px 12px 5px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 5px 12px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 12px 5px rgba(0,0,0,0.75);
   
}


.head-reset-form{
  margin-top: 30px;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: Roboto, sans serif;
}


.reset-form-input-label-div{
    width:60%;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px ;
    
}





.reset-form-input{
    width: 100%;
    height:50%;
    padding-left: 5px;
    font-size: 11px;
     font-family: Roboto, sans-serif;
     border: 1px solid gray;
     border-radius: 3px;
}


.reset-form-label{
    width:100%;
    height:25%;
    font-size: 13px;
    font-weight: 600;
     font-family: Roboto, sans-serif;
    
}

.reset-form-btn{
    width:60%;
    height:40px;
    margin-top: 20px;
    background-color: #FF595E;
    border: 1px;
    color: #fdfdf7;
    font-weight: 600;
    font-size: 15px;
     margin-left: 8px;
     border-radius: 3px;
     cursor: pointer;
     transform: scale(1);
}
.reset-form-btn:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 768px) {
    .reset-form-navigation{
        margin-left: 300px;
    }
}


@media screen and (max-width: 425px) {
    .reset-form{
    width:60%;
  }
    .reset-form-navigation{
        margin-left: 500px;
        width:13%
    }
    .head-reset-form{
         font-size: 16px;
    }
    .reset-form-input-label-div{
        height: 70px;
    }
    .reset-form-btn{
        height:40px
    }
    .reset-form-input{
        height:30px
    }
}


@media screen and (max-width: 375px) {
  .reset-form{
    width:70%;
  }

}
