* {
    margin: 0;
    padding: 0;
}

.create {
    height: 100vh;
    width: 100%;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creatememberbox {
    height: 55%;
    width: 40%;
    background-color: #FDFDF7;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.inputs {
    height: 60%;
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding: 10px;
    /* justify-content: center; */
    gap: 20px;
    flex-direction: column;
}

.inputs input {
    height: 20%;
    width: 90%;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
}

.inputs button {
    height: 35px;
    width: 80%;
    border-radius: 5px;
    border: 0.6px;
    outline: 0.2px;
    cursor: pointer;
    font-size: 15px;
    background-color: #FF595E;
}

.inputs button:hover {
    background-color: #FF595E;
    transform: scale(1.1);
}

.logodelete {
    border-radius: 100%;
    height: 53px;
    width: 50px;
    display: flex;
    margin-top: -210px;
    align-items: center;
    justify-content: center;
    background-color: #FF595E;
    font-size: 20px;
    cursor: pointer;
}