.hero {
    width: 100%;
    height: 90vh;
    display: flex;
}

.herotext {
    width: 50vw;
    height: 100%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 30px;
    
}

.heroimage {
    width: 50vw;
    height: 100%;
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: column;
    align-items: end;
}

.maintext {
    width: 80%;
    height: 40vh;
    /* background-color: lightgrey; */
    display: flex;
    align-items: center;
    

}

.workout {
    width: 100%;
    /* height: 45px; */
    /* background-color: orange; */
    /* font-size: 30px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(14, 13, 13);
    padding-bottom: 50px;
    /* font-weight: 600; */
}

.plan {
    color: #FF595E;
}

.subtext {
    width: 80%;
    height: 20vh;
    /* background-color:  lightyellow; */
    display: flex;
    /* align-items: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonbox {
    width: 80%;
    height: 15vh;
    /* background-color: palevioletred; */
    display: flex;
    align-items: start;
    justify-content: space-evenly ;
    margin-right: 130px;
}
.starting{
    width: 25%;
    height: 45%;
    background-color:#FF595e ;
    border-radius: 3px;
    border: none;
    /* box-shadow: 3px 7px 7px 3px rgb(248, 246, 246); */
    color: #fdfdfd; 
    cursor: pointer;
    font-size: 10px;
       
}
.upgrading{
    width: 25%;
    height: 45%;
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    border: 1px solid rgb(243, 173, 173) ;
    /* box-shadow: 3px 7px 7px 3px rgb(248, 246, 246); */
    color: rgb(243, 173, 173);
    cursor: pointer;  
    font-size: 10px;  
}

.integrate {
    font-size: 20px;
    width: 100%;
    color: rgb(14, 13, 13);
    /* background-color: red; */
    margin-top: -10%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heropic {
    width: 100%;
    height: 70vh;
    /* background-color: pink; */
}