.carddash-container{
    width:30%;
    height:150px;
    background-color: green;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fdfdf7;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
     @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    font-family: Roboto, sans-serif;
}

.carddash-img-section{
  width:20px;
  height:20px;
  background-color: rgba(128, 128, 128, 0.374);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.carddash-img{
 width:60%;
 height:60%;
}

.carddash-number{
  font-size: 12px;
   color:#3F88C5;
   font-weight: 600;
}

.carddash-status{
  font-size: 12px;
   font-weight: 600;
      color:#3F88C5;
}